:root {
  --color-primary: #221A27;
  --color-on-primary: #ffffff;
  --color-surface: #ffffff;
  --color-on-surface: #000000;
  --color-outline: rgba(0, 0, 0, 0.12);
  --overlay-hover: rgba(0, 0, 0, 0.04);
  --overlay-pressed: rgba(0, 0, 0, 0.08);
  --overlay-disabled: rgba(0, 0, 0, 0.38);
}

[data-theme="dark"] {
  --color-primary: #d0bcff;
  --color-on-primary: #000000;
  --color-surface: #121212;
  --color-on-surface: #ffffff;
  --color-outline: rgba(255, 255, 255, 0.12);
  --overlay-hover: rgba(255, 255, 255, 0.08);
  --overlay-pressed: rgba(255, 255, 255, 0.12);
  --overlay-disabled: rgba(255, 255, 255, 0.38);
}
